:root{
  --dark-color: #343A40;
  --gray-color: #DEE2E6;
  --white-color: #f2f2f2;
  --whatsapp-color: #00BB2D;
  --whatsapp-color-figma: #25D366;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body{
  font-family: 'Roboto', sans-serif;
  user-select: none;
}

/* Header */

header {
  background: var(--dark-color);
}

.headerUp,
.headerDown {
  max-width: 1000px;
}

.logoContainer {
  width: 100px
}

.logoContainer img {
  max-width: 100%;
}

.navbar {
  color: white;
}

.nav-item {
  margin-right: 40px;
  margin-left: 40px;
}

/* Botón de Whatsapp */
.btnWa {
  background-color: var(--whatsapp-color-figma);
  position: fixed;
  top: 172px;
  right: 20px;
  border: var(--whatsapp-color-figma) solid 2px;
  border-radius: 20px;
  width: 200px;
  height: 70px;
  text-align: center;
  font-size: 20px;
  box-shadow: 10px 5px 5px var(--dark-color)
}
a {
  text-decoration: none;
  color: var(--white-color);
}
a:hover{
  text-decoration: underline;
  color: var(--white-color);
}

/* MAIN */

/* Efecto del titulo typed  */
.cursosTitular {
  font-weight: bold;
  font-style: normal;
  color: #ff0000;
}

.titular {
  font-weight: bold;
  text-transform: uppercase;
}

.nmv {
  border-radius: 25px;
  max-width: 600px;
  box-shadow: 10px 10px 5px black;
}

.nmv .nmvTab{
  cursor: pointer;
  padding: 10px;
  border-radius: 25px 25px 0 0;
  width: 33%;
  font-weight: bold;
  text-align: center;
  background-color: var(--white-color);
}

.nmv .nmvTabNColor {
  background-color: #ff0000;
  color: var(--white-color);
}

.nmv .nmvTabMColor {
  background-color: #000aff;
  color: var(--white-color);
}

.nmv .nmvTabVColor {
  background-color: #ff7817;
  color: var(--white-color);
}

.nvmText{ 
  background-color: var(--white-color);
  padding: 30px;
  border-radius: 0 0 25px 25px;
}

.video {
  max-width: 800px;
}


/* Footer */
.footer {
  background-color: #DEE2E6;
}

.pictureContainer {
  max-width: 150px;
}

.rrssFooter {
  list-style: none;
  font-size: 1.75rem;
}





/* -------------------------------------------------------- */

/* Css de la timeline >>>>>>>>>>>>>>>>
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}

body {
  font: normal 16px/1.5 "Helvetica Neue", sans-serif;
  background: #456990;
  color: #fff;
}


 .section SECTION
––––––––––––––––––––––––––––––––––––––––––––––––––

.section {
  background: #F45B69;
  padding: 50px 0;
}

.section .container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.section h1 {
  font-size: 2.5rem;
}

.section h2 {
  font-size: 1.3rem;
}


TIMELINE
––––––––––––––––––––––––––––––––––––––––––––––––––

.timeline {
  white-space: nowrap;
  overflow-x: hidden;
}

.timeline ol {
  font-size: 0;
  width: 100vw;
  padding: 250px 0;
  transition: all 1s;
}

.timeline ol li {
  position: relative;
  display: inline-block;
  list-style-type: none;
  width: 160px;
  height: 3px;
  background: #fff;
}

.timeline ol li:last-child {
  width: 280px;
}

.timeline ol li:not(:first-child) {
  margin-left: 14px;
}

.timeline ol li:not(:last-child)::after {
  content: '';
  position: absolute;
  top: 50%;
  left: calc(100% + 1px);
  bottom: 0;
  width: 12px;
  height: 12px;
  transform: translateY(-50%);
  border-radius: 50%;
  background: #F45B69;
}

.timeline ol li div {
  position: absolute;
  left: calc(100% + 7px);
  width: 280px;
  padding: 15px;
  font-size: 1rem;
  white-space: normal;
  color: black;
  background: white;
}

.timeline ol li div::before {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
}

.timeline ol li:nth-child(odd) div {
  top: -16px;
  transform: translateY(-100%);
}

.timeline ol li:nth-child(odd) div::before {
  top: 100%;
  border-width: 8px 8px 0 0;
  border-color: white transparent transparent transparent;
}

.timeline ol li:nth-child(even) div {
  top: calc(100% + 16px);
}

.timeline ol li:nth-child(even) div::before {
  top: -8px;
  border-width: 8px 0 0 8px;
  border-color: transparent transparent transparent white;
}

.timeline time {
  display: block;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 8px;
}


 TIMELINE ARROWS
––––––––––––––––––––––––––––––––––––––––––––––––––

.timeline .arrows {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.timeline .arrows .arrow__prev {
  margin-right: 20px;
}

.timeline .disabled {
  opacity: .5;
}

.timeline .arrows img {
  width: 45px;
  height: 45px;
}


GENERAL MEDIA QUERIES
––––––––––––––––––––––––––––––––––––––––––––––––––
@media screen and (max-width: 599px) {
  .timeline ol,
  .timeline ol li {
    width: auto;
  }

  .timeline ol {
    padding: 0;
    transform: none !important;
  }

  .timeline ol li {
    display: block;
    height: auto;
    background: transparent;
  }

  .timeline ol li:first-child {
    margin-top: 25px;
  }

  .timeline ol li:not(:first-child) {
    margin-left: auto;
  }

  .timeline ol li div {
    width: 94%;
    height: auto !important;
    margin: 0 auto 25px;
  }

  .timeline ol li div {
    position: static;
  }

  .timeline ol li:nth-child(odd) div {
    transform: none;
  }

  .timeline ol li:nth-child(odd) div::before,
  .timeline ol li:nth-child(even) div::before {
    left: 50%;
    top: 100%;
    transform: translateX(-50%);
    border: none;
    border-left: 1px solid white;
    height: 25px;
  }

  .timeline ol li:last-child,
  .timeline ol li:nth-last-child(2) div::before,
  .timeline ol li:not(:last-child)::after,
  .timeline .arrows {
    display: none;
  }
}
*/
