:root{
  --dark-color: #343A40;
  --gray-color: #DEE2E6;
  --white-color: #f2f2f2;
  --whatsapp-color: #00BB2D;
  --whatsapp-color-figma: #25D366;
}

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@font-face {
  font-family: 'Cera Pro';
  src: url('./font/CeraProMedium.otf') format('truetype');
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'Cera Pro';
  src: url('./font/CeraProBold.otf') format('truetype');
  font-style: normal;
  font-weight: bold;
}



/* General */
body{
  font-family: 'Cera Pro', sans-serif;
  user-select: none;
}

/* Header */

header {
  background: var(--dark-color);
}

.headerUp,
.headerDown {
  max-width: 1000px;
}

.logoContainer {
  width: 100px
}

.logoContainer img {
  max-width: 100%;
}

.navbar {
  color: white;
}

.nav-item {
  margin-right: 40px;
  margin-left: 40px;
}
span.d-none {
  font-size: 16px;
}

/* Botón de Whatsapp */
.btnWa {
  background-color: var(--whatsapp-color-figma);
  position: absolute;
  top: 172px;
  right: 20px;
  border: var(--whatsapp-color-figma) solid 2px;
  border-radius: 15px;
  width: 200px;
  height: 60px;
  text-align: center;
  font-size: 18px;
  box-shadow: 10px 5px 5px var(--dark-color);
  z-index: 1;
}
a {
  text-decoration: none;
  color: var(--white-color);
}
a:hover{
  text-decoration: underline;
  color: var(--white-color);
}

/* MAIN */

.container {
  max-width: 800px;
}

/* Efecto del titulo typed  */
.cursosTitularRed {
  font-weight: bold;
  font-style: normal;
  color: #ff0000;
}
.cursosTitularBlue {
  font-weight: bold;
  font-style: normal;
  color: #000aff;
}
.cursosTitularOrange {
  font-weight: bold;
  font-style: normal;
  color: #ff7817;
}

.titular {
  font-weight: bold;
  text-transform: uppercase;
}

.nmv {
  border-radius: 25px;
  max-width: 600px;
  box-shadow: 10px 10px 5px var(--dark-color);
}

.nmv .nmvTab{
  cursor: pointer;
  padding: 10px;
  border-radius: 25px 25px 0 0;
  width: 33%;
  font-weight: bold;
  text-align: center;
  background-color: var(--white-color);
}

.nmv .nmvTabNColor {
  background-color: #ff0000;
  color: var(--white-color);
}

.nmv .nmvTabMColor {
  background-color: #000aff;
  color: var(--white-color);
}

.nmv .nmvTabVColor {
  background-color: #ff7817;
  color: var(--white-color);
}

.nvmText{ 
  background-color: var(--white-color);
  padding: 30px;
  border-radius: 0 0 25px 25px;
}

.video {
  max-width: 800px;
}

/* Formulario */

.formularioContacto {
  background-color: rgba(222, 226, 230, .4);
  border-radius: 25px;
}

.formInput {
  border-radius: 0;
  border: none;
  background-color: rgba(255, 255, 255, .1);
  border-bottom: 2px solid var(--dark-color);
}

.msgForm{
  border-radius: 10px;
  resize: none;
  max-width: 800px;
  height: 125px;
}

.btnEnviar {
  border: none;
  font-size: 1.25rem;
  border-radius: 25px;
  min-width: 200px;
  font-weight: bold;
  color: var(--white-color);
  background-color: #000aff;
}

.btnEnviar:hover {
  background-color: rgba(0, 10, 255, 0.7);
  color: var(--white-color);
}
/* Cursos */ 

/* Cursos Carrusel */
.card, .cardTestim {
  font-size: 0.85rem;
  border-radius: 20px;
  box-shadow: 10px 5px 5px var(--dark-color);
  max-width: 300px;
  padding: 5px;
  text-align: center;
}

.card{
  background-color: var(--gray-color);
}

.cardTestim {
  height: 200px;
  background-color: rgba(255, 120, 23, 0.2);
  color: var(--dark-color);
}

.card-subtitle, .card-text {
  font-size: 0.65rem;
}

.btn-primary {
  background-color: #000aff;
  border:#000aff 2px solid;
  border-radius: 20px;
}
.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23343A40' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23343A40' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

/* Footer */
.footer {
  background-color: #DEE2E6;
}

.pictureContainer {
  max-width: 150px;
}

.rrssFooter {
  list-style: none;
  font-size: 1.75rem;
}


/* Css de la timeline */

button {
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}

 /* .section SECTION */

.section {
  background: var(--gray-color);
  padding: 50px 0;
}

.section h1 {
  font-size: 2.5rem;
}

.section h2 {
  font-size: 1.3rem;
}


/* TIMELINE */

.timeline {
  background-color: rgba(222, 226, 230, .8);
  white-space: nowrap;
  overflow-x: hidden;
}

.timeline ol {
  font-size: 0;
  width: 100vw;
  padding: 150px 0;
  transition: all 1s;
}

.timeline ol li {
  position: relative;
  display: inline-block;
  list-style-type: none;
  width: 160px;
  height: 3px;
  background: var(--dark-color);
}

.timeline ol li:last-child {
  width: 280px;
}

.timeline ol li:not(:first-child) {
  margin-left: 14px;
}

.timeline ol li:not(:last-child)::after {
  content: '';
  position: absolute;
  top: 50%;
  left: calc(100% + 1px);
  bottom: 0;
  width: 12px;
  height: 12px;
  transform: translateY(-50%);
  border-radius: 50%;
  background: #ff0000;
}

.timeline ol li div {
  position: absolute;
  left: calc(100% + 7px);
  max-height: 120px;
  width: 200px;
  padding: 15px;
  font-size: 0.70rem;
  white-space: normal;
  color: black;
  background: white;
}

.burbujaSup, .burbujaSub {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.burbujaSup{
  border-radius: 25px 25px 25px 0;
}
.burbujaSub {
  border-radius: 0px 25px 25px 25px;
}

.timeline ol li div::before {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
}

.timeline ol li:nth-child(odd) div {
  top: -16px;
  transform: translateY(-100%);
}

.timeline ol li:nth-child(odd) div::before {
  top: 100%;
  border-width: 8px 8px 0 0;
  border-color: white transparent transparent transparent;
}

.timeline ol li:nth-child(even) div {
  top: calc(100% + 16px);
}

.timeline ol li:nth-child(even) div::before {
  top: -8px;
  border-width: 8px 0 0 8px;
  border-color: transparent transparent transparent white;
}

.timeline time {
  display: block;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 8px;
}


 /* TIMELINE ARROWS */

.timeline .arrows {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  
}

.timeline .arrows .arrow__prev {
  margin-right: 20px;
}

.timeline .disabled {
  opacity: .5;
}

.timeline .arrows img {
  width: 45px;
  height: 45px;
}


/*GENERAL MEDIA QUERIES*/

@media screen and (max-width: 599px) {
  .timeline ol,
  .timeline ol li {
    width: auto;
  }

  .timeline ol {
    padding: 0;
    transform: none !important;
  }

  .timeline ol li {
    display: block;
    height: auto;
    background: transparent;
  }

  .timeline ol li:first-child {
    margin-top: 25px;
  }

  .timeline ol li:not(:first-child) {
    margin-left: auto;
  }

  .timeline ol li div {
    width: 94%;
    height: auto !important;
    margin: 0 auto 25px;
  }

  .timeline ol li div {
    position: static;
  }

  .timeline ol li:nth-child(odd) div {
    transform: none;
  }

  .timeline ol li:nth-child(odd) div::before,
  .timeline ol li:nth-child(even) div::before {
    left: 50%;
    top: 100%;
    transform: translateX(-50%);
    border: none;
    border-left: 1px solid white;
    height: 25px;
  }

  .timeline ol li:last-child,
  .timeline ol li:nth-last-child(2) div::before,
  .timeline ol li:not(:last-child)::after,
  .timeline .arrows {
    display: none;
  }
  /*Footer*/
  .rrssFooter {
    flex-direction: column;
  }
}
